<h1>projects</h1>
<p>List of projects</p>

<ul class='projects'>
  <li class='project'>
    <div class='title'>project name</div>
    <div class='description'>project description</div>
    <div class='imgs'>project imgs</div>
    <div class='technologies'>project technologies</div>
    <div class='team-size'>project team size</div>
    <div class='duration'>project duration (in month)</div>
  </li>
  
  <li class='project'>
    <div class='title'>project name</div>
    <div class='description'>project description</div>
    <div class='imgs'>project imgs</div>
    <div class='technologies'>project technologies</div>
    <div class='team-size'>project team size</div>
    <div class='duration'>project duration (in month)</div>
  </li>

  <li class='project'>
    <div class='title'>project name</div>
    <div class='description'>project description</div>
    <div class='imgs'>project imgs</div>
    <div class='technologies'>project technologies</div>
    <div class='team-size'>project team size</div>
    <div class='duration'>project duration (in month)</div>
  </li>

  <li class='project'>
    <div class='title'>project name</div>
    <div class='description'>project description</div>
    <div class='imgs'>project imgs</div>
    <div class='technologies'>project technologies</div>
    <div class='team-size'>project team size</div>
    <div class='duration'>project duration (in month)</div>
  </li>
</ul>