<section id="projects">
    <%= render partial: 'projects' %>
</section>

<section id="about">
    <%= render partial: 'about' %>
</section>

<section id="contacts">
    <%= render partial: 'contacts' %>
</section>

